# Redirect HTTP to HTTPS
server {
    listen 80;
    server_name {{ DOMAIN_NAME }} traccar.{{ DOMAIN_NAME }};

    # Redirect HTTP to HTTPS
    return 301 https://$host$request_uri;
}

# Nextcloud Server Block
server {
    listen 443 ssl;
    server_name {{ DOMAIN_NAME }};

    # SSL Configuration
    ssl_certificate /etc/letsencrypt/live/{{ DOMAIN_NAME }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ DOMAIN_NAME }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    # Proxy to Nextcloud
    location / {
        proxy_pass http://nextcloud:80;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

# Traccar Server Block
server {
    listen 443 ssl;
    server_name traccar.{{ DOMAIN_NAME }};

    # SSL Configuration
    ssl_certificate /etc/letsencrypt/live/{{ DOMAIN_NAME }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ DOMAIN_NAME }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    # Proxy to Traccar
    location / {
        proxy_pass http://traccar:8082;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}